* {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    overflow-x: hidden;
    background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
}

main {
    /* padding: 0 8%; */
    /* margin: 0.8%; */
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow-x: hidden;
}

.first-container {
    display: flex;
}


/* header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 8%;
    z-index: 10;
    
    /* width: 1273px; */


/* margin-right: 165px; */


/* } */

.started-button {
    width: 167px;
    height: 56px;
    border-radius: 30px;
    background: #13183f;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 24px;
    right: 165px;
}

.name {
    font-size: 2.3em;
    font-weight: 700;
    color: #13183F;
    position: absolute;
    left: 165.79px;
    top: 38.75px;
}

.description {
    width: 457px;
    /* flex: 3; */
    height: 359px;
    /* margin-top: 150px; */
    padding-left: 165px;
    padding-top: 252px;
}

.hero-container {
    flex: 1;
    position: relative;
    top: -125px;
    right: -250px;
}

.description h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 70.56px;
}

.description p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    width: 445px;
    color: #83869a;
}

#hero {
    width: 100%;
}


/* #hero {
    width: 991.63px;
    height: 936.92px;
    position: absolute;
    top: -146.13px;
    left: 870px;
  } */

#hero-mobile {
    display: none;
}

.description button {
    width: 167px;
    height: 63px;
    background-image: linear-gradient(to bottom, #ff6f48, #f02aa6);
    border-radius: 30px;
    border: none;
    color: #fff;
    margin-top: 40px;
    font-size: 18px;
}

.thumbnail {
    /* width: 1110px; */
    /* margin-top: 226px; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 165px;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
}

.box {
    /* width: 350px; */
    height: 322px;
    background-color: #fff;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
    margin: 10px;
}

.box p {
    color: #83869a;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}


/* .box h3 {
    padding-top: 32px;
    padding-left: 32px;
  } */

.box img {
    padding-left: 32px;
    position: relative;
    top: -24px;
    z-index: 1;
    height: 56px;
    width: 56px;
}

.inner-box {
    /* width: 286px; */
    height: 218px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box .started {
    color: #f74780;
    font-weight: 700;
}

.checkout {
    background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    color: #ffffff;
}

.checkout h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    padding-top: 64px;
    padding-left: 32px;
}

footer {
    /* width: 100vw; */
    background-color: #13183f;
    padding: 32px 8%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    overflow-x: hidden;
}

.inside-footer {
    height: 56px;
    /* width: 73%; */
    display: flex;
    justify-content: space-between;
}

footer button {
    width: 167px;
    height: 56px;
    background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
    border-radius: 28px;
    color: #ffffff;
}

footer p {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 7px;
}

button:hover {
    opacity: 50%;
    cursor: pointer;
}

started:hover {
    opacity: 50%;
    cursor: pointer;
}


/* Media Queries for tablet */

@media only screen and (max-width: 770px) {
    .started-button {
        top: 24px;
        right: 39px;
    }
    .name {
        left: 39px;
        top: 24px;
    }
    .description {
        width: 398px;
        padding-left: 39px;
        padding-top: 171px;
    }
    .hero-container {
        top: -40px;
        right: 80px;
    }
    #hero {
        width: 200%;
    }
    .description h1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 50.4px;
    }
    .description p {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        width: 398px;
    }
    .thumbnail {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 39px;
    }
    .box {
        margin: 20px 10px;
    }
    footer {
        /* width: 100vw; */
        padding: 32px 39px;
    }
    .checkout {
        position: relative;
        left: -49px;
    }
}


/* Media Queries for mobile phone*/

@media only screen and (max-width: 420px) {
    .started-button {
        top: 16px;
        right: 16px;
        font-size: 1em;
        width: 140px;
        height: 48px;
    }
    .name {
        left: 16px;
        top: 16px;
        font-size: 1.8em;
    }
    .description {
        width: 398px;
        padding-left: 1em;
        padding-top: 100px;
        padding-right: 1em;
    }
    .description button {
        width: 167px;
        height: 56px;
        margin-top: 30px;
        font-size: 16px;
    }
    .hero-container {
        top: -40px;
        right: 80px;
    }
    #hero {
        display: none;
    }
    .description h1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 50.4px;
    }
    .description p {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        width: 100%;
        padding-top: 30px;
    }
    .thumbnail {
        grid-template-columns: repeat(1, 1fr);
        padding: 16px 16px;
    }
    .box {
        margin: 20px 10px;
    }
    .first-container {
        flex-direction: column;
    }
    #hero-mobile {
        display: block;
        margin-left: 40px;
    }
    footer {
        /* width: 100vw; */
        padding: 32px 16px;
    }
    .checkout {
        position: relative;
        left: 0px;
        height: 120px;
    }
    .checkout h2 {
        font-size: 24px;
        font-weight: 800;
        line-height: 32px;
        padding: 8%;
    }
    footer button {
        width: 140px;
        height: 48px;
    }
    .inside-footer {
        font-size: 1.8em;
    }
}


/* Media Queries for screensize 1000 */


/* @media only screen and (max-width: 1300px) {
  
  
      body {
        background: red;
      }
   
     
      .started-button {
        top: 24px;
        right: 200px;
      }
      
      .name {
       
        left: 39px;
        top: 24px;
        
      }
      
      .description {
        width: 398px;
        padding-left: 39px;
        padding-top: 171px;
        
      }
      
      .hero-container {
        
        top: -100px;
        right: -100px;
      }
      
      #hero {
        width: 120%;
      }
      
      .description h1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 50.4px;
      }
      
      .description p {
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        width: 398px;
       }
      
       .thumbnail {
        grid-template-columns: repeat(2,1fr);
        padding: 0 39px;
      }
      
      .box {
          margin: 20px 10px;
      }
      footer {
        /* width: 100vw; */

padding: 32px 39px;

}
.checkout {
    position: relative;
    left: -49px;
}

}